<%- include("template/header", {archivo : "crear"})%>
<body>
    <div class="container">
        <%- include("template/navbar")%>
        <h1>CREAR</h1>
        <div class="formulario">
        <form action="">
            <div class="field">
                <span>Nombre</span>
                <input type="text" required>
            </div>
            <div class="field">
                <span>Apellido</span>
                <input type="text" required>
            </div>
            <div class="field">
                <span>Correo</span>
                <input type="text" required>
            </div>
            <button type="submit">Crear</button>
        </form>
        </div>
        
    </div>
    
</body>
</html>