<%- include("template/header", {archivo : "modificar"})%>
<body>
    <div class="container">
        <%- include("template/navbar")%>
        <h1>MODIFICAR</h1>
        <div class="formulario">
            <form action="">
                <div class="field">
                    <span>ID</span>
                    <input type="text">
                </div>
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>
    
</body>
</html>